# This is a template file. 
# Anyone cloning this project should copy this file, rename it to ".env", and fill in their actual database credentials.

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=express_demo
